$main #252529
$secondary #8b8b9f
$highlight #73e298

body {
  background-color:white;
  color: black;
}
.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .form-control-dark {
    color: #fff;
    background-color: white;
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    color: #fff;
    background-color: white;
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
    
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }

  
  .iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 80%;
    border: 1px solid black;
    animation-play-state:running
  }
.iframe-container h1 {
    text-align: center;
    position: absolute;
    height: 17%;
    width: 100%;
    font-size: 6rem;
    font-family:fantasy;
    font-weight: light;
    color: black;
    background: white;
    border: 1px black;
    padding: 20px;
    margin: 0px;
    margin-right: 0px;
    margin-top: 510px;
    opacity: 0.9;
    z-index: 1;
}
.iframe-container h2 {
    position: absolute;
    text-align:center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: black;
    border: 1px transparent white;
    padding: 20px;
    margin: 15px;
    margin-top: 595px;
    margin-left: 580px;
    z-index: 1;
    opacity: 0.8;

}

.p {
  text-align:justify;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  position: absolute;
  color: black;
}
.themed-container {
    padding: .75rem;
    margin-bottom: 1.5rem;
    background-color: rgba(0, 123, 255, .15);
    border: 1px solid rgba(0, 123, 255, .2);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .table {
  text-align: center;
  block-size: auto;
  }

  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  
  .form-signin .checkbox {
    font-weight: 400;
  }
  
  .form-signin .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }

  .fa-instagram {
    background: #8a3ab9;
  }

  .fa-youtube {
    background: #bb0000;
  }


 /* second page */


* {
    box-sizing: border-box
}

html, body {
    font-family: 'open sans', sans-serif;
}

.clearfix:before, .clearfix::after {
    content:" ";
    display: table;
}
.clearfix::after {
    clear: both;
}

.wrapper {
    width: 1440px;
    max-width: 90%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

#top_header {
    padding: 1.5em 0;
    .logo {
        float: left;
        text-transform: uppercase;
        font-size: 1.15em;
        font-weight: 700;
        .span {
            font-weight: 300;
            color: $highlight;

        }
    }
}
#main_nav {
  float: right;
  font-size: .9em;
  padding-top: 1em;
  a {
    color: $secondary;
    text-decoration: none;
    margin-left: 2em;
    ;
  }
}